body {
    font-family: 'Times New Roman', Times, serif;
}

h1 { 
    text-align: center;
    font-size: 60px;
    background-color: black;
    color:white;
}

img {
    display: block;
    height: auto;
    width: 650px;
    margin-right: auto;
    margin-left: auto;
}

ul { 
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}